#geo-map-box {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

#geo-map-box > * {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

#geo-map {
}

#geo-overlay {
    background: radial-gradient(
            circle,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.15) 60%,
            rgba(0, 0, 0, 0.4) 100%
    );
    pointer-events: none;
}

.map-marker {
}

.map-marker > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.map-marker-icon {
    width: 24px;
    height: 24px;
    pointer-events: none;

    background-image: var(--svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; /* important */

    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.bus-icon {
    --svg: url("../../svg/bus.svg");
}

.train-icon {
    --svg: url("../../svg/train.svg");
}

.bus-bearing {
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%) rotate(var(--bearing));

    background-image: url(../../svg/bus-direction.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; /* important */

    transition: transform 1000ms ease-out;
}