#geoMap {
    border-radius: 12px;
    overflow: hidden;
}

.map-marker {
    position: relative;
}

.map-marker > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.map-marker-icon {
    width: 24px;
    height: 24px;
    background-color: white;
    pointer-events: none;
    mask-image: var(--svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    -webkit-mask-image: var(--svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.bus-icon {
    --svg: url("../../svg/bus.svg");
}

.bus-arrow {
    width: 24px;
    height: 24px;
    transform: translate(-50%, -50%) rotate(var(--bearing)) translate(80%, 0%);

    mask-image: url(../../svg/chevron.svg);
    -webkit-mask-image: url(../../svg/chevron.svg);
    background-color: white;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}