.layout-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.layout-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.layout-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(var(--void), 0.2);
    padding: 0.5rem;
}

.layout-box {
}