.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
.flex-items-1 > * { flex:1; }

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.display-none {
    display: none !important;
}

.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}

.fill-width {
    width: 100%
}

.dim {
    color: rgba(var(--fg), 0.6);
}

.no-dim {
    color: rgb(var(--fg)) !important;
}

.no-gap {
    gap: 0 !important;
}

p.large {
    font-size: 1.4rem;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}