.column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(var(--void), 0.1);
    padding: 0.5rem;
}