#event-profile {
    padding-bottom: 8rem;
}

#tips-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 0.5rem;
    background-color: rgba(var(--void), 0.2);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    backdrop-filter: blur(1.5rem);
    filter: drop-shadow(0 0 8px rgba(var(--void), .8));
}