.map-event-panel {
    columns: 20rem;
    column-gap: 1rem;
}

.map-event-group {
    break-inside: avoid;
    margin-bottom: 1rem;
}

.map-event-group-grid {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
}