.flex-1 {
    flex: 1;
}

.bold {
    font-weight: bold;
}

.display-none {
    display: none !important;
}

.align-items-center {
    align-items: center;
}

.fill-width {
    width: 100%
}

.dim {
    color: rgba(var(--fg), 0.6);
}

.no-dim {
    color: rgb(var(--fg)) !important;
}

.no-gap {
    gap: 0 !important;
}